{% extends 'base.html.twig' %}

{% block title %}Détail de la série {{ serie.name }}{% endblock %}

{% block body %}
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)),
            url("{{ asset('uploads/backdrops/' ~ serie.backdrop) }}");
        }
    </style>

    <h2>{{ serie.name }}</h2>

    <span class="badge bg-info">{{ serie.status }}</span>

    <span class="badge bg-info">{{ serie.firstAirDate|date('d/m/Y') }}</span>

    <p>{{ serie.overview }}</p>

{% endblock %}