{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Series{% endblock %}

{% block body %}
    <h2>Listes de series</h2>
    <ul>
        {% for serie in series %}
            <li>
                <span class="badge text-bg-primary rounded-pill">{{ serie.status }}</span>
                <a href="{{ path('app_serie_details', {'id' : serie.id}) }}">
                    <strong>{{ serie.name|upper }}</strong>
                </a>: {{ serie.overview|capitalize }} -
                <span class="badge text-bg-secondary rounded-pill">{{ serie.firstAirDate|date('d/m/Y') }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
