{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Series{% endblock %}

{% block body %}
    <h2>Listes de series</h2>
    <ul>
        <li><a href="{{ path('app_serie_list') }}">Tout</a></li>
        <li><a href="{{ path('app_serie_list_by_status', {'status' : 'Returning'}) }}">En cours</a></li>
        <li><a href="{{ path('app_serie_list_by_status', {'status' : 'Ended'}) }}">Terminées</a></li>
        <li><a href="{{ path('app_serie_list_by_status', {'status' : 'Canceled'}) }}">Abandonnées</a></li>
    </ul>
    <br><br>
    <section>
        {# 2 méthodes du Controller Serie utilisent le même template => problème pour rensigner la route en "dur pour la pagination #}
        {# Dans la fonction path(), on met une variable twig qui renseigne la route en cours + les paramètres en cours auxquels on ajoute le paramètre de page  #}

        {% if page > 1 %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page' : page -1 })) }}"><<</a>&nbsp;
        {% endif %}
        page {{ page }}
        {% if page < max_pages %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page' : page +1 })) }}">>></a>
        {% endif %}
    </section>
    <br><br>
    <section>
        {% for serie in series %}
            <a href="{{ path('app_serie_details', {'id': serie.id}) }}"><img src="{{ asset('posters/series/' ~ serie.poster) }}" width="300px" loading="lazy" /></a>
            {% for season in serie.seasons %}
                {{ season.number }} |
            {% endfor%}
        {% else %}
            Pas de série
        {% endfor %}
    </section>
{% endblock %}











