{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h2>Liste</h2>

    <section>
        {% if page > 1 %}
            <a href="{{ path('serie_liste', {'page' : page - 1}) }}">Page précédente</a>&nbsp;
        {% endif %}
        {% if page < nb_pages %}
            <a href="{{ path('serie_liste', {'page' : page + 1}) }}">Page suivante</a>
        {% endif %}
    </section>

    <section class="series-list">
    {% for serie in series %}
        <a href="{{ path('serie_detail', { id: serie.id }) }}" title="{{ serie.name }}">
            <img src="{{ asset('uploads/posters/series/' ~ serie.poster) }}" width="250px" alt="Poster de {{ serie.name }}" loading="lazy">
        </a>
    {% else %}
        <p>Pas de série !</p>
    {% endfor %}
    </section>

{% endblock %}