<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Niortflix{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <h1><img src="{{ asset('images/logo.png') }}" alt="Logo Niortflix"></h1>

        {% for status, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ status }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {% include 'part/_navbar.html.twig' %}

        {% block body %}{% endblock %}
    </body>
</html>
